<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.AdminMapper">

	<!-- ======= SELECT ======= -->
	<!-- 회원 리스트 조회 (페이징, 검색 가능) -->
	<select id="selectUserList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="map">
		SELECT
			u.user_id AS userId,
			u.role_id AS roleId,
			r.role_name AS roleName,
			u.NAME AS userName,
			u.email, phone, address,
			u.created_at AS createdAt,
			u.birth
		FROM (SELECT * FROM user
			<where>
			    <if test="searchType != 'all'">
			        role_id = #{roleType}
			    </if>
			    <if test="searchWord != ''">
			        AND NAME LIKE CONCAT('%', #{searchWord}, '%')
			    </if>
			</where>
		) u
		INNER JOIN role r ON u.role_id = r.role_id
		ORDER BY u.role_Id
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 오늘 배차할 학생 데이터 가져오기 (취소 데이터가 있는 것은 제외) -->
	<select id="getPassengerList" parameterType="map" resultType="map">
		SELECT
		    va.assignment_id AS assignmentId,
		    p.payment_id AS paymentId,
		    lt.day_of_week AS dayOfWeek,
		    DATE_SUB(lt.end_time, INTERVAL 10 MINUTE) AS endTime
		FROM payment p
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN vehicle_assignment va ON va.lecture_id = lt.lecture_id
		LEFT JOIN vehicle_cancel vc 
		       ON vc.assignment_id = va.assignment_id 
		      AND DATE(vc.decided_at) = CURDATE()
		WHERE lt.end_date >= CURDATE()
		  AND vc.assignment_id IS NULL
		  
		  <if test="dayOfWeek != null and dayOfWeek != ''">
		  	AND lt.day_of_week = #{dayOfWeek}
		  </if>
		  
		  <if test="targetTime != null and targetTime != ''">
		  	AND DATE_FORMAT(DATE_SUB(lt.end_time, INTERVAL 10 MINUTE), '%H:%i') = #{targetTime}
		  </if>
	</select>

	<!-- 배차 취소 리스트 조회 -->
	<select id="selectCancelList" resultType="map" parameterType="com.example.afterSchoolLms.dto.Page">
		SELECT
			u.name AS studentName,
			sb.name AS subjectName,
			lt.day_of_week AS dayOfWeek,
			vc.cancel_reason AS cancelReason,
			vc.decided_at AS decidedAt
		FROM vehicle_cancel vc
		INNER JOIN payment p ON vc.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchWord != null and searchWord != ''">
				AND u.name LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchType != null and searchType != ''">
				AND DATE(vc.decided_at) = #{searchType}
			</if>
		</where>
		ORDER BY decidedAt DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 배차 취소 데이터 수 -->
	<select id="cancelCount" parameterType="com.example.afterSchoolLms.dto.Page">
		SELECT COUNT(*) 
		FROM vehicle_cancel vc
		INNER JOIN payment p ON vc.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchWord != null and searchWord != ''">
				AND u.name LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchType != null and searchType != ''">
				AND DATE(vc.decided_at) = #{searchType}
			</if>
		</where>
	</select>

	<!-- 수업 아이디로 학생 배차 조회 -->
	<select id="selectPassengerList" parameterType="map">
		SELECT
			st.user_id AS studentId,
			st.name AS studentName,
			vc.vehicle_no AS vehicleNo,
			dr.user_id AS driverId,
			dr.name AS driverName,
			sb.name AS subjectName,
			lt.day_of_week AS dayOfWeek,
			lt.end_time AS endTime
		FROM payment p
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN (
			SELECT * FROM lecture 
			<where>
				end_date >= CURDATE()
				<if test="lectureId != null and lectureId != ''">
					AND lecture_id = #{lectureId}
				</if>
			</where>
		) lt ON se.lecture_id = lt.lecture_id
		INNER JOIN vehicle_assignment va ON va.lecture_id = lt.lecture_id
		INNER JOIN vehicle vc ON va.vehicle_id = vc.vehicle_id
		INNER JOIN user dr ON va.driver_id = dr.user_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
		INNER JOIN (
			SELECT * FROM user
			<where>
				<if test="searchName != null and searchName != ''">
					AND name LIKE CONCAT('%', #{searchName}, '%')
				</if>
			</where>
		) st ON se.student_id = st.user_id
	</select>

	<!-- 유저 리스트 전체 데이터 가져오기 -->
	<select id="getTotalCount" parameterType="com.example.afterSchoolLms.dto.Page">
		SELECT COUNT(*) 
		FROM user
		<where>
		    <if test="searchType != 'all'">
		        role_id = #{roleType}
		    </if>
		    <if test="searchWord != ''">
		        AND NAME LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 공지사항 리스트 전체 데이터 가져오기 -->
	<select id="noticeTotalCount" parameterType="com.example.afterSchoolLms.dto.Page">
		SELECT COUNT(*) 
			FROM notice
		<where>
		    <if test="searchType != 'all'">
		        target_role_id = #{roleType}
		    </if>
		    <if test="searchWord != ''">
		        AND title LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- Q&A 전체 데이터 수 조회 -->
	<select id="qnaTotalCount" parameterType="com.example.afterSchoolLms.dto.Page">
		SELECT COUNT(*) 
			FROM qna
		<where>
		    <if test="searchWord != ''">
		        AND question LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 공지사항 하나 조회 -->
	<select id="selectNoticeOne" parameterType="map">
		SELECT 
			n.notice_id AS noticeId,
			u.user_id AS adminId,
			u.name AS adminName,
			n.title,
			n.content,
			n.notice_id AS noticeId,
			n.target_role_id AS targetRoleId,
			r.role_name AS roleName,
			DATE_FORMAT(n.created_at, '%Y-%m-%d') AS createdAt
		FROM (SELECT * FROM notice WHERE notice_id = #{noticeId}) n
		INNER JOIN role r ON r.role_id = n.target_role_id
		INNER JOIN user u ON n.admin_id = u.user_id
	</select>
	
	<!-- 앨범 리스트 조회 -->
	<select id="selectAlbumList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="map">
		SELECT
		    ab.album_id AS albumId,
		    ab.lecture_id AS lectureId,
		    sb.name AS subjectName,
		    ab.title AS title,
		    ab.description,
		    DATE_FORMAT(ab.created_at, '%Y-%m-%d') AS createdAt,
		    ap.photo_id AS photoId,
		    ap.file_path AS filePath
		FROM album ab
		INNER JOIN (
		    SELECT album_id, MIN(photo_id) AS max_photo_id
		    FROM album_photo
		    GROUP BY album_id
		) latest_photo ON ab.album_id = latest_photo.album_id
		INNER JOIN album_photo ap ON ap.photo_id = latest_photo.max_photo_id
		INNER JOIN lecture lt ON lt.lecture_id = ab.lecture_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
	</select>
	
	<!-- 앨범 상세 조회 -->
	<select id="selectAlbumOne" resultType="map">
		SELECT
			ab.album_id AS albumId,
			ab.lecture_id AS lectureId,
			sb.name AS subjectName,
			ab.title AS title,
			ab.description,
			DATE_FORMAT(ab.created_at, '%Y-%m-%d') AS createdAt
		FROM (SELECT * FROM album WHERE album_id = #{albumId}) ab
		INNER JOIN lecture lt ON lt.lecture_id = ab.lecture_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
	</select>
	
	<!-- 앨범 포토 조회 -->
	<select id="selectAlbumPhotoList" resultType="com.example.afterSchoolLms.dto.AlbumPhoto">
		SELECT
			photo_id AS photoId,
			album_id AS albumId,
			file_path AS filePath
		FROM album_photo
		WHERE album_id = #{albumId};
	</select>
	
	<!-- 미응답 Q&A 수 -->
	<select id="qnaCount">
		SELECT
			COUNT(*)
		FROM qna
		WHERE answer IS NULL;
	</select>
	
	<!-- Q&A 조회 (검색, 페이징)-->
	<select id="selectQnaList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="com.example.afterSchoolLms.dto.Qna">
		SELECT
			qna_id AS qnaId,
			parent_id AS parentId,
			admin_id AS adminId,
			question,
			answer,
			created_at AS createdAt,
			answered_at AS answeredAt
		FROM qna
		<where>
		    <if test="searchWord != ''">
		        AND question LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY 
		    answered_at IS NOT NULL,
		    CASE 
		        WHEN answered_at IS NULL THEN created_at
		        ELSE NULL
		    END ASC,
		    CASE 
		        WHEN answered_at IS NOT NULL THEN created_at
		        ELSE NULL
		    END DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- Q&A 상세 조회 -->
	<select id="selectQnaOne" resultType="com.example.afterSchoolLms.dto.Qna">
		SELECT
			qna_id AS qnaId,
			parent_id AS parentId,
			admin_id AS adminId,
			question,
			answer,
			created_at AS createdAt,
			answered_at AS answeredAt
		FROM qna
		WHERE qna_id = #{qnaId};
	</select>
	
	
	<!-- 역할 리스트 조회 -->
	<select id="selectRoleList" parameterType="com.example.afterSchoolLms.dto.Role">
		SELECT
			role_id AS roleId,
			role_name AS roleName
		FROM role
		ORDER BY role_id
	</select>
	
	<!-- 수업 조회 (진행중인 수업만 조회) -->
	<select id="selectLectureList" resultType="map">
		SELECT sb.name AS subjectName,
		       u.name AS teacherName,
		       cr.name AS classroomName,
		       cr.location AS location,
		       lt.lecture_id AS lectureId,
		       lt.start_time AS startTime,
		       lt.end_time AS endTime,
		       lt.day_of_week AS 'dayOfWeek',
		       lt.start_date AS startDate,
		       lt.end_date AS endDate
		FROM (SELECT * FROM lecture WHERE end_date >= CURDATE() )lt
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user u ON ta.teacher_id = u.user_id
	</select>
	
	<!-- 과목 조회 -->
	<select id="selectSubjectList" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			subject_id AS subjectId,
			NAME AS subjectName,
			description,
			created_at AS createdAt
		FROM subject
		ORDER BY createdAT DESC
	</select>
	
	<!-- 과목 추가 -->
	<insert id="createSubject" parameterType="com.example.afterSchoolLms.dto.Subject">
		INSERT INTO subject (name, description)
		VALUES (#{subjectName}, #{description});
	</insert>
	
	<!-- 과목 수정 페이지에 표기할 데이터를 subjectId를 통해 조회 -->
	<select id="selectSubjectById" parameterType="int" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			subject_id AS subjectId,
			NAME AS subjectName,
			description,
			created_at AS createdAt
		FROM subject
		WHERE subject_id = #{subjectId}
	</select>
	
	<!-- 해당 과목의 데이터 수정 -->
	<update id="modifySubject" parameterType="com.example.afterSchoolLms.dto.Subject">
		UPDATE subject SET
		name = #{subjectName}, description = #{description}
		WHERE subject_id = #{subjectId};
	</update>
	
	<!-- 과목 삭제 -->
	<delete id="removeSubject" parameterType="int">
		DELETE FROM subject
		WHERE subject_id = #{subjectId};
	</delete>
	
	<!-- 수강 신청 내역 조회 (페이징, 검색) -->
	<select id="selectStudentEnrollmentList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="map">
		SELECT 
			se.enrollment_id AS enrollmentId,
			se.student_id AS studentId,
			u.name AS studentName,
			sb.name AS subjectName,
			DATE_FORMAT(se.enrolled_at, '%Y-%m-%d %H:%i') AS enrolledAt,
			CASE se.status
				WHEN 'PENDING' THEN '납부 대기'
				WHEN 'PAID' THEN '납부 완료'
				WHEN 'CANCEL' THEN '신청 취소'
				WHEN 'REFUNDWAIT' THEN '환불 대기'
				WHEN 'REFUND' THEN '환불 완료'
			END AS status
		FROM student_enrollment se
		INNER JOIN (SELECT * FROM lecture WHERE end_date >= CURDATE()) lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY enrolledAt DESC, enrollmentId DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 수강 신청 내역 전체 리스트 수 가져오기 -->
	<select id="getTotalStudentEnrollmentList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
		SELECT count(*)
		FROM student_enrollment se
		INNER JOIN (SELECT * FROM lecture WHERE end_date >= CURDATE()) lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 수강료 납부 내역 조회 (페이징, 검색) -->
	<select id="selectPaymentList" resultType="map">
		SELECT
			p.payment_id AS paymentId,
			sb.name AS subjectName,
			st.name AS studentName,
			p.amount,
			DATE_FORMAT(p.paid_at, '%Y-%m-%d %H:%i') AS paidAt
		FROM payment p
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user st ON se.student_id = st.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND st.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY paidAt DESC, paymentId DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 수강료 납부 내역 전체 카운트 가져오기 -->
	<select id="getTotalPaymentListCount" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
		SELECT COUNT(*)
		FROM payment p
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user st ON se.student_id = st.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND st.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 수강 신청 취소 내역 조회 -->
	<select id="selectEnrollmentCancelList" resultType="map">
		SELECT
			se.enrollment_id AS enrollmentId,
			sb.name AS subjectName,
			st.name AS studentName,
			st.phone,
			se.enrolled_at AS enrolledAt
		FROM (SELECT * FROM student_enrollment WHERE STATUS = 'CANCEL') se
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user st ON se.student_id = st.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND st.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY enrolledAt DESC, enrollmentId DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 수강 신청 취소 내역 전체 카운트 가져오기 -->
	<select id="getTotalenrollmentCancelList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT * FROM student_enrollment WHERE status = 'CANCEL') se
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user st ON se.student_id = st.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND st.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 환불 내역 조회 (수강 신청의 status가 'REFUNDWAIT' or 'REFUND'인 데이터만 조회) -->
	<select id="selectRefundList" resultType="map">
		SELECT
			se.enrollment_id AS enrollmentId,
			u.name AS studentName,
			sb.name AS subjectName,
			CASE se.status
				WHEN 'REFUNDWAIT' THEN '환불 대기'
				WHEN 'REFUND' THEN '환불 완료'
			END AS status,
			se.enrolled_at AS enrolledAt
		FROM (SELECT * FROM student_enrollment WHERE status IN ('REFUNDWAIT', 'REFUND')) se
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY enrolledAt DESC, enrollmentId DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 환불 내역 전체 카운트 가져오기 -->
	<select id="getTotalRefundList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT * FROM student_enrollment WHERE status IN ('REFUNDWAIT', 'REFUND')) se
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 환불 대기중(수강 신청의 status가 'REFUNDWAIT')인 수강 신청 건 환불 처리 -->
	<update id="changeRefund" parameterType="int">
		UPDATE student_enrollment SET status = 'REFUND'
		WHERE status = 'REFUNDWAIT' AND enrollment_id = #{enrollmentId}
	</update>
	
	<!-- 환불 처리 후 payment 테이블의 결제 데이터 삭제 -->
	<delete id="removePayment" parameterType="int">
		DELETE FROM payment
		WHERE enrollment_id = #{enrollmentId}
	</delete>
	
	<!-- 수업 목록 조회 (전체 수업 조회 (종강된 수업 포함))-->
	<select id="selectAllLectureList" resultType="map">
		SELECT
			lt.lecture_id AS lectureId,
			sb.name AS subjectName,
			u.name AS teacherName,
			cr.name AS classroomName,
			cr.location AS location,
			DATE_FORMAT(lt.start_time, '%H:%i') AS startTime,
			DATE_FORMAT(lt.end_time, '%H:%i') AS endTime,
			lt.day_of_week AS 'dayOfWeek',
			lt.start_date AS startDate,
			lt.end_date AS endDate,
			va.assignment_id AS assignmentId,
			v.vehicle_no AS vehicleNo,
			d.name AS driverName,
			va.location AS vehicleLocation
		FROM lecture lt
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user u ON ta.teacher_id = u.user_id
		LEFT JOIN vehicle_assignment va ON lt.lecture_id = va.lecture_id
		LEFT JOIN vehicle v ON va.vehicle_id = v.vehicle_id
		LEFT JOIN user d ON va.driver_id = d.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY startDate DESC, startTime DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 수업 목록 전체 카운트 가져오기 -->
	<select id="getTotalLectureList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
		SELECT COUNT(*)
		FROM lecture lt
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user u ON ta.teacher_id = u.user_id
		<where>
			<if test="searchType != 'all'">
		        sb.name = #{searchType}
		    </if>
		    <if test="searchWord != ''">
		        AND u.name LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
	</select>
	
	<!-- 공지사항 리스트 조회 페이징, 검색 -->
	<select id="selectNoticeList" parameterType="com.example.afterSchoolLms.dto.Page" resultType="map">
		SELECT 
			n.notice_id AS noticeId,
			n.title,
			n.content,
			r.role_name AS roleName,
			DATE_FORMAT(n.created_at, '%Y-%m-%d') AS createdAt
		FROM notice n
		INNER JOIN role r ON r.role_id = n.target_role_id
		<where>
		    <if test="searchType != 'all' and roleType != null">
		        n.target_role_id = #{roleType}
		    </if>
		    <if test="searchWord != null and searchWord != ''">
		        AND n.title LIKE CONCAT('%', #{searchWord}, '%')
		    </if>
		</where>
		ORDER BY n.created_at DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 차량 리스트 조회 -->
	<select id="selectVehicleList" resultType="map">
		SELECT 
			vc.vehicle_id AS vehicleId,
			vc.vehicle_no AS vehicleNo,
			dr.user_id AS driverId,
			vc.capacity,
			IFNULL(dr.name,'') AS driverName,
			IFNULL(dr.phone,'') AS phone,
			IFNULL(va.location,'') AS location
		FROM vehicle vc
		LEFT OUTER JOIN vehicle_assignment va ON va.vehicle_id = vc.vehicle_id
		LEFT OUTER JOIN user dr ON dr.user_id = va.driver_id;
	</select>
	
	<!-- 차량 아이디로 차량 조회 -->
	<select id="selectVehicleByVehicleId" resultType="com.example.afterSchoolLms.dto.Vehicle">
		SELECT
			vehicle_id AS vehicleId,
			vehicle_no AS vehicleNo,
			capacity
		FROM vehicle
		WHERE vehicle_id = #{vehicleId};
	</select>
	
	<!-- 아이디로 회원 조회 -->
	<select id="selectUserByUserId" parameterType="String" resultType="map">
		SELECT 
			u.user_id AS userId,
			u.name AS userName,
			u.role_id AS roleId,
			r.role_name AS roleName,
			u.email,
			u.phone,
			u.address,
			u.birth
		FROM user u
		INNER JOIN role r ON r.role_id = u.role_id
		WHERE u.user_id = #{userId}
	</select>
	
	<!-- 이메일 중복 조회 -->
	<select id="selectUserEmail" parameterType="String" resultType="com.example.afterSchoolLms.dto.User">
	    SELECT * FROM user WHERE email = #{email}
	</select>

	<select id="selectDrvierlist" resultType="com.example.afterSchoolLms.dto.User">
		SELECT
			user_id AS userId,
			NAME AS userName,
			phone,
			email
		FROM user
		WHERE role_id = 5;
	</select>
	
	<!-- 부모의 아이디로 자녀 회원 조회 -->
	<select id="selectUserByParentId" parameterType="String" resultType="map">
		SELECT
			st.user_id AS userId,
			st.name AS userName,
			st.role_id AS roleId,
			r.role_name AS roleName,
			st.email,
			st.phone,
			st.address,
			st.birth
		FROM
			(SELECT * FROM user WHERE user_id = #{parentId}) pa
		INNER JOIN student_parent sp ON pa.user_id = sp.parent_id
		INNER JOIN user st ON sp.student_id = st.user_id
		INNER JOIN role r ON r.role_id = st.role_id
	</select>
	
	<!-- 자녀의 아이디로 학부모 회원 조회 -->
	<select id="selectUserByStudentId" parameterType="String" resultType="map">
		SELECT
			pa.user_id AS userId,
			pa.name AS userName,
			pa.role_id AS roleId,
			r.role_name AS roleName,
			pa.email,
			pa.phone,
			pa.address,
			pa.birth
		FROM
			(SELECT * FROM user WHERE user_id = #{studentId}) st
		INNER JOIN student_parent sp ON st.user_id = sp.student_id
		INNER JOIN user pa ON sp.parent_id = pa.user_id
		INNER JOIN role r ON r.role_id = pa.role_id
	</select>
	
	<!-- 기사 아이디로 차량 조회 -->
	<select id="selectVehicleByDriverId" parameterType="String" resultType="map">
		SELECT v.vehicle_no AS vehicleNo, v.capacity, l.end_time AS endTime, l.day_of_week AS dayOfWeek
		FROM vehicle v INNER JOIN vehicle_assignment va
		   ON v.vehicle_id = va.vehicle_id
		               INNER JOIN user u
		   ON u.user_id = va.driver_id
		               INNER JOIN lecture l
		   ON l.lecture_id = va.lecture_id
		WHERE u.user_id = #{driverId}
	</select>
	
	<!-- 강사 경력 조회 -->
	<select id="selectTeacherHistoryListByTeacherId" parameterType="String" resultType="com.example.afterSchoolLms.dto.TeacherHistory">
		SELECT
			history_id AS historyId,
			teacher_id AS teacherId,
			last_education AS lastEducation,
			personal_history AS personalHistory
		FROM teacher_history
		WHERE teacher_id = #{teacherId}
	</select>
	
	<!-- 차량 아이디로 차량 배정 조회 -->
	<select id="selectVehicleAssignmentByVehicleId" resultType="com.example.afterSchoolLms.dto.VehicleAssignment">
		SELECT
			assignment_id AS assignmentId,
			lecture_id AS lectureId,
			vehicle_id AS vehicleId,
			driver_id AS driverId,
			location
		FROM vehicle_assignment
		WHERE vehicle_id = #{vehicleId};
	</select>
	
	<!-- ======= UPDATE ======= -->
	<update id="modifyUser" parameterType="com.example.afterSchoolLms.dto.User">
	    UPDATE user
	    <set>
	        <if test="roleId != null">role_id = #{roleId},</if>
	        <if test="email != null">email = #{email},</if>
	        <if test="userName != null">name = #{userName},</if>
	        <if test="phone != null">phone = #{phone},</if>
	        <if test="address != null">address = #{address},</if>
	        <if test="birth != null">birth = #{birth},</if>
	    </set>
	    WHERE user_id = #{userId}
	</update>

	<update id="modifyHistory" parameterType="com.example.afterSchoolLms.dto.TeacherHistory">
		UPDATE teacher_history
	    <set>
	        <if test="lastEducation != null">last_education = #{lastEducation},</if>
	        <if test="personalHistory != null">personal_history = #{personalHistory},</if>
	    </set>
	    WHERE teacher_id = #{teacherId}
	</update>
	
	<update id="modifyVehicle" parameterType="com.example.afterSchoolLms.dto.Vehicle">
		UPDATE vehicle
	    <set>
	        <if test="vehicleNo != null">vehicle_no = #{vehicleNo},</if>
	        <if test="capacity != null">capacity = #{capacity},</if>
	    </set>
	    WHERE vehicle_id = #{vehicleId}
	</update>
	
	<update id="modifyVehicleAssignment" parameterType="com.example.afterSchoolLms.dto.VehicleAssignment">
		UPDATE vehicle_assignment
	    <set>
	        <if test="lectureId != null">lecture_id = #{lectureId},</if>
	        <if test="vehicleId != null">vehicle_id = #{vehicleId},</if>
	        <if test="location != null">location = #{location},</if>
	        driver_id = #{driverId}
	    </set>
	    WHERE assignment_id = #{assignmentId}
	</update>
	
	<update id="modifyNotice" parameterType="com.example.afterSchoolLms.dto.Notice">
		UPDATE notice
	    <set>
	        <if test="title != null">title = #{title},</if>
	        <if test="content != null">content = #{content},</if>
	        <if test="targetRoleId != null">target_role_id = #{targetRoleId},</if>
	    </set>
	    WHERE notice_id = #{noticeId}
	</update>
	
	<!-- 관리자가 Q&A에 답 함 -->
	<update id="modifyQna" parameterType="com.example.afterSchoolLms.dto.Qna">
		UPDATE qna
	    <set>
	        <if test="adminId != null">admin_id = #{adminId},</if>
	        <if test="answer != null">answer = #{answer},</if>
	        answered_at = NOW()
	    </set>
	     WHERE qna_id = #{qnaId}
	</update>
	
	<!-- ======= INSERT ======= -->
	
	<!-- 배차 정보 등록(스케쥴러) -->
	<insert id="insertPassenger" parameterType="com.example.afterSchoolLms.dto.VehiclePassenger">
		INSERT INTO vehicle_passenger(
			assignment_id, payment_id
		) VALUES(
			#{assignmentId}, #{paymentId}
		)
	</insert>
	
	<!-- 회원 등록 -->
	<insert id="insertUser" parameterType="com.example.afterSchoolLms.dto.User">
		INSERT INTO user(
			user_id, role_id, NAME, email, PASSWORD, phone, address, birth
		) VALUES(
			#{userId}, #{roleId}, #{userName}, #{email}, #{password}, #{phone}, #{address}, #{birth}
		)
	</insert>
	
	<!-- 학생/부모 관계 등록 -->
	<insert id="insertStudentParent" parameterType="com.example.afterSchoolLms.dto.StudentParent">
		INSERT INTO student_parent(
			student_id, parent_id
		) VALUES(
			#{studentId}, #{parentId}
		)
	</insert>
	
	<!-- 강사 수상/경력 등록 -->
	<insert id="insertHistory" parameterType="com.example.afterSchoolLms.dto.TeacherHistory">
		INSERT INTO teacher_history(
			teacher_id, last_education, personal_history
		) VALUES(
			#{teacherId}, #{lastEducation}, #{personalHistory}
		)
	</insert>
	
	<!-- 차량 등록 -->
	<insert id="insertVehicle" parameterType="com.example.afterSchoolLms.dto.Vehicle">
		INSERT INTO vehicle(
			vehicle_no, capacity
		) VALUES(
			#{vehicleNo}, #{capacity}
		)
	</insert>
	
	<!-- 차량 배정 등록 -->
	<insert id="insertVehicleAssignment" parameterType="com.example.afterSchoolLms.dto.VehicleAssignment">
		INSERT INTO vehicle_assignment(
			vehicle_id, driver_id, location
		) VALUES(
			#{vehicleId}, #{driverId}, #{location}
		)
	</insert>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="com.example.afterSchoolLms.dto.Notice">
		INSERT INTO notice(
			admin_id, title, content, target_role_id
		) VALUES(
			#{adminId}, #{title}, #{content}, #{targetRoleId}
		)
	</insert>
	
	<!-- 앨범 등록 -->
	<insert id="insertAlbum" parameterType="com.example.afterSchoolLms.dto.Album" useGeneratedKeys="true" keyProperty="albumId">
	    INSERT INTO album (lecture_id, title, description, created_at)
	    VALUES (#{lectureId}, #{title}, #{description}, NOW())
	</insert>
	
	<!-- 앨범 사진 등록 -->
	<insert id="insertAlbumPhoto" parameterType="com.example.afterSchoolLms.dto.AlbumPhoto">
	    INSERT INTO album_photo (album_id, file_path)
	    VALUES (#{albumId}, #{filePath})
	</insert>
	
	<!-- ======= DELETE ======= -->
	
	<!-- 수업 등록 -->
	<insert id="createLecture" useGeneratedKeys="true" keyProperty="lectureId" parameterType="com.example.afterSchoolLms.dto.Lecture">
		INSERT INTO lecture (
			subject_id, classroom_id, recruited, amount, start_time, end_time, day_of_week, start_date, end_date)
		VALUES (#{subjectId}, #{classroomId}, #{recruited}, #{amount}, #{startTime}, #{endTime}, #{dayOfWeek}, #{startDate}, #{endDate})
	</insert>
	
	<!-- 강의실 리스트 조회 -->
	<select id="selectClassroomList" resultType="com.example.afterSchoolLms.dto.Classroom">
		SELECT
			classroom_id AS classroomId,
			NAME AS classroomName,
			location,
			capacity
		FROM classroom
	</select>
	
	<!-- 강사 리스트 조회 -->
	<select id="selectTeacherList" resultType="com.example.afterSchoolLms.dto.User">
		SELECT
			user_id AS userId,
			NAME AS userName
		FROM user
		WHERE role_id = 3
	</select>
	
	<!-- 해당 수업의 강사 배정 등록 -->
	<insert id="createTeacherAssignment" parameterType="com.example.afterSchoolLms.dto.TeacherAssignment">
		INSERT INTO teacher_assignment (lecture_id, teacher_id)
		VALUES (#{lectureId}, #{teacherId})
	</insert>
	
	<!-- 등록된 배차 정보 조회 (이미 수업에 배정된 배차 정보는 제외) -->
	<select id="selectVehicleAssignmentList" resultType="map">
		SELECT
			va.assignment_id AS assignmentId,
			va.lecture_id AS lectureId,
			v.vehicle_no AS vehicleNo,
			u.name AS driverName,
			va.location
		FROM vehicle_assignment va
		INNER JOIN vehicle v ON va.vehicle_id = v.vehicle_id
		INNER JOIN user u ON va.driver_id = u.user_id
		WHERE
			<choose>
				<when test="lectureId != null">
					va.lecture_id IS null OR va.lecture_id = #{lectureId}
				</when>
				<otherwise>
					va.lecture_id IS null
				</otherwise>
			</choose>
	</select>
	
	<!-- 해당 수업의 배차 배정 등록 -->
	<update id="updateVehicleAssignmentByLectureId" parameterType="com.example.afterSchoolLms.dto.VehicleAssignment">
		UPDATE vehicle_assignment set
			lecture_id = #{lectureId}
		WHERE assignment_id = #{assignmentId}
	</update>
	
	<!-- 해당 lectureId를 가지는 lecture 데이터 조회 -->
	<select id="selectLectureById" resultType="com.example.afterSchoolLms.dto.Lecture">
		SELECT
			lecture_id AS lectureId,
			subject_id AS subjectId,
			classroom_id AS classroomId,
			recruited,
			amount,
			start_time AS startTime,
			end_time AS endTime,
			day_of_week AS 'dayOfWeek',
			start_date AS startDate,
			end_date AS endDate
		FROM lecture
		WHERE lecture_id = #{lectureId}
	</select>
	
	<!-- 해당 lectureId를 가지는 teacherAssignment 데이터 조회 -->
	<select id="selectTeacherById" resultType="com.example.afterSchoolLms.dto.TeacherAssignment">
		SELECT
			lecture_id AS lectureId,
			teacher_id AS teacherId
		FROM teacher_assignment
		WHERE lecture_id = #{lectureId}
	</select>
	
	<!-- 해당 lectureId를 가지는 vehicleAssignment 데이터 조회 -->
	<select id="selectVehicleAssignmentByLectureId" resultType="com.example.afterSchoolLms.dto.VehicleAssignment">
		SELECT
			assignment_id AS assignmentId
		FROM vehicle_assignment
		WHERE lecture_id = #{lectureId}
	</select>
	
	<!-- 수업 정보 수정 -->
	<update id="modifyLecture" parameterType="com.example.afterSchoolLms.dto.Lecture">
		UPDATE lecture SET
			subject_id = #{subjectId}, classroom_id = #{classroomId},
			recruited = #{recruited}, amount = #{amount},
			start_time = #{startTime}, end_time = #{endTime}, day_of_week = #{dayOfWeek},
			start_date = #{startDate}, end_date = #{endDate}
		WHERE lecture_id = #{lectureId}
	</update>
	
	<!-- 해당 수업의 강사 배정 정보 수정 -->
	<update id="modifyTeacherAssignment" parameterType="com.example.afterSchoolLms.dto.TeacherAssignment">
		UPDATE teacher_assignment SET
			teacher_id = #{teacherId}
		WHERE lecture_id = #{lectureId}
	</update>
	
	<!-- 해당 수업의 배차 배정 정보 수정 시 기존 배차 정보의 lectureId 삭제 (null로 변경) -->
	<update id="updateVehicleAssignmentLectureIdNull" parameterType="int">
		UPDATE vehicle_assignment SET
			lecture_id = NULL
		WHERE assignment_id = #{assignmentId}
	</update>
	
	<!-- 강의실 관리 페이지에서 강의실 목록 조회 -->
	<select id="selectClassroom" resultType="map">
		SELECT
			cr.classroom_id AS classroomId,
			cr.name AS classroomName,
			cr.location AS location,
			cr.capacity,
			IFNULL(sb.name, '미배정') AS subjectName,
			IFNULL(t.name, '미배정') AS teacherName,
			lt.start_time AS startTime,
			lt.end_time AS endTime
		FROM classroom cr
		LEFT OUTER JOIN (SELECT * FROM lecture WHERE end_date >= CURDATE()) lt ON cr.classroom_id = lt.classroom_id
		LEFT OUTER JOIN subject sb ON lt.subject_id = sb.subject_id
		LEFT OUTER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		LEFT OUTER JOIN user t ON ta.teacher_id = t.user_id
	</select>
	
	<!-- 강의실 등록 -->
	<insert id="createClassroom" parameterType="com.example.afterSchoolLms.dto.Classroom">
		INSERT INTO classroom (name, location, capacity)
		VALUES (#{classroomName}, #{location}, #{capacity})
	</insert>	
	
	<!-- 해당 classroomId를 가지는 classroom 데이터 조회 -->
	<select id="selectClassroomById" resultType="com.example.afterSchoolLms.dto.Classroom">
		SELECT
			classroom_id AS classroomId,
			NAME AS classroomName,
			location,
			capacity
		FROM classroom
		WHERE classroom_id = #{classroomId}
	</select>
	
	<!-- 강의실 정보 수정 -->
	<update id="modifyClassroom" parameterType="com.example.afterSchoolLms.dto.Classroom">
		UPDATE classroom SET
			name = #{classroomName}, location = #{location}, capacity = #{capacity}
		WHERE classroom_id = #{classroomId}
	</update>
	
	<!-- 교보재 목록 조회 -->
	<select id="selectMaterialList" resultType="map">
		SELECT
			m.material_id AS materialId,
			s.name AS subjectName,
			m.material_title AS materialTitle,
			m.total_count AS totalCount,
			m.used_count AS usedCount,
			l.day_of_week AS dayOfWeek,
			l.start_time AS startTime
		FROM material m
		INNER JOIN lecture l ON m.lecture_id = l.lecture_id
		INNER JOIN subject s ON l.subject_id = s.subject_id
	</select>
	
	<!-- 교보재 정보에 등록할 강좌 및 해당 과목 이름 조회 -->
	<select id="selectLecture" resultType="map">
		SELECT
			lt.lecture_id AS lectureId,
			sb.name AS subjectName
		FROM lecture lt
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
	</select>
	
	<!-- 교보재 등록 -->
	<insert id="createMaterial" parameterType="com.example.afterSchoolLms.dto.Material">
		INSERT INTO material (lecture_id, material_title, total_count, used_count)
		VALUES (#{lectureId}, #{materialTitle}, #{totalCount}, #{usedCount})
	</insert>
	
	<!-- 해당 materialId 값을 가지는 material 정보 조회 -->
	<select id="selectMaterialById" parameterType="int" resultType="com.example.afterSchoolLms.dto.Material">
		SELECT
			material_id AS materialId,
			lecture_id AS lectureId,
			material_title AS materialTitle,
			total_count AS totalCount,
			used_count AS usedCount
		FROM material
		WHERE material_id = #{materialId}
	</select>
	
	<!-- 교보재 수정 -->
	<update id="modifyMaterial" parameterType="com.example.afterSchoolLms.dto.Material">
		UPDATE material SET
			lecture_id = #{lectureId}, material_title = #{materialTitle}, total_count = #{totalCount}, used_count = #{usedCount}
		WHERE material_id = #{materialId}
	</update>
	
	<!-- 교보재 삭제 -->
	<delete id="removeMaterial" parameterType="int">
		DELETE FROM material
		WHERE material_id = #{materialId}
	</delete>
	
	<!-- 교보재 요청 목록 조회 -->
	<select id="selectMaterialRequestList" resultType="map">
		SELECT
			mr.request_id AS requestId,
			mr.content,
			mr.requested_at AS requestedAt,
			u.name teacherName,
			s.name AS subjectName,
			l.start_time AS startTime,
			l.day_of_week AS dayOfWeek,
			mr.status
		FROM material_request mr
		INNER JOIN lecture l ON mr.lecture_id = l.lecture_id
		INNER JOIN teacher_assignment ta ON l.lecture_id = ta.lecture_id
		INNER JOIN user u ON ta.teacher_id = u.user_id
		INNER JOIN subject s ON s.subject_id = l.subject_id
	</select>
	
	<!-- 교보재 요청된 건 완료 처리 (status 값 변경 '요청완료' -> '처리완료') -->
	<update id="changeMaterialRequestStatus" parameterType="int">
		UPDATE material_request SET
			status = '처리완료'
		WHERE request_id = #{requestId}
	</update>
	
	<!-- 출결 목록 조회 -->
	<select id="selectAttendanceList" resultType="map">
		SELECT
			a.attendance_id AS attendanceId,
			u.name AS studentName,
			a.attend_date AS attendDate,
			a.status,
			s.name AS subjectName,
			l.start_time AS startTime,
			l.day_of_week AS dayOfWeek,
			c.name AS classroomName,
			t1.teacherName
		FROM attendance a INNER JOIN payment p ON a.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN user u ON u.user_id = se.student_id
		INNER JOIN lecture l ON l.lecture_id = se.lecture_id
		INNER JOIN subject s ON s.subject_id = l.subject_id
		INNER JOIN classroom c ON l.classroom_id = c.classroom_id
		INNER JOIN (SELECT l.lecture_id, u.name teacherName FROM user u
					INNER JOIN teacher_assignment ta ON u.user_id = ta.teacher_id
					INNER JOIN lecture l ON l.lecture_id = ta.lecture_id) t1 ON l.lecture_id = t1.lecture_id
	</select>
	
	<!-- 해당 attendanceId를 가지는 attendance 데이터 값 조회 -->
	<select id="selectAttendanceById" parameterType="int" resultType="map">
		SELECT
			a.attendance_id AS attendanceId,
			u.name AS studentName,
			a.attend_date AS attendDate,
			a.status,
			s.name AS subjectName,
			l.start_time AS startTime,
			l.day_of_week AS dayOfWeek,
			c.name AS classroomName,
			t1.teacherName
		FROM attendance a INNER JOIN payment p ON a.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN user u ON u.user_id = se.student_id
		INNER JOIN lecture l ON l.lecture_id = se.lecture_id
		INNER JOIN subject s ON s.subject_id = l.subject_id
		INNER JOIN classroom c ON l.classroom_id = c.classroom_id
		INNER JOIN (SELECT l.lecture_id, u.name teacherName FROM user u
					INNER JOIN teacher_assignment ta ON u.user_id = ta.teacher_id
					INNER JOIN lecture l ON l.lecture_id = ta.lecture_id) t1 ON l.lecture_id = t1.lecture_id
		WHERE a.attendance_id = #{attendanceId}
	</select>
	
	<!-- 출결 수정 -->
	<update id="changeAttendanceStatus" parameterType="com.example.afterSchoolLms.dto.Attendance">
		UPDATE attendance SET
			status = #{status}
		WHERE attendance_id = #{attendanceId}
	</update>
	
	<!-- 강좌 평가 및 리뷰 목록 조회 -->
	<select id="selectSatisfactionList" resultType="map">
		SELECT
			sf.satisfaction_id AS satisfactionId,
			sb.name AS subjectName,
			u.name AS studentName,
			sf.rating_lecture AS ratingLecture,
			sf.created_at AS createAt,
			ifnull(r.content, '리뷰 작성 전') AS content,
			ifnull(r.created_at, '리뷰 작성 전') AS reivewCreateAt
		FROM satisfaction sf
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		LEFT OUTER JOIN review r ON sf.satisfaction_id = r.satisfaction_id
	</select>
	
	<!-- 강사 평가 목록 조회 -->
	<select id="selectTeacherSatisfactionList" resultType="map">
		SELECT
			sf.satisfaction_id AS satisfactionId,
			sb.name AS subjectName,
			u.name AS studentName,
			t.name AS teacherName,
			sf.rating_teacher AS ratingTeacher,
			sf.created_at AS createAt
		FROM satisfaction sf
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN user u ON se.student_id = u.user_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
	</select>
</mapper>