<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.AdminMapper">
	<!-- 과목 조회 -->
	<select id="selectSubjectList" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			subject_id AS subjectId,
			NAME AS subjectName,
			description,
			created_at AS createdAt
		FROM subject
	</select>
	
	<!-- 과목 추가 -->
	<insert id="createSubject" parameterType="com.example.afterSchoolLms.dto.Subject">
		INSERT INTO subject (name, description) VALUES (#{subjectName}, #{description});
	</insert>
	
	<!-- 과목 수정 페이지에 표기할 데이터를 subjectId를 통해 조회 -->
	<select id="selectSubjectById" parameterType="int" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			subject_id AS subjectId,
			NAME AS subjectName,
			description,
			created_at AS createdAt
		FROM subject
		WHERE subject_id = #{subjectId}
	</select>
	
	<!-- 해당 과목의 데이터 수정 -->
	<update id="modifySubject" parameterType="com.example.afterSchoolLms.dto.Subject">
		UPDATE subject SET name = #{subjectName}, description = #{description}
		WHERE subject_id = #{subjectId};
	</update>
</mapper>