<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.DriverMapper">

	<select id="selectInformation" parameterType="String" resultType="com.example.afterSchoolLms.dto.User">
		SELECT
			user_id AS userId,
			NAME AS userName,
			birth,
			email,
			address,
			phone
		FROM user
		WHERE user_id=#{id} AND PASSWORD=#{password}
	</select>
	
	
	<update id="updateInformation" parameterType="com.example.afterSchoolLms.dto.User">
		UPDATE user SET
			email = #{email}, 
			phone = #{phone},
			address = #{address}
		WHERE user_id = #{userId} AND PASSWORD = #{password} 
	</update>
	
	<update id="updatePw" parameterType="String">
		UPDATE user 
		SET PASSWORD = #{updatePw} 
		WHERE user_id = #{id} AND PASSWORD = #{currentPw}
	</update>

</mapper>