<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.ParentMapper">
	<!-- 공지사항 리스트 -->
	<select id="notice" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id as noticeId, title, content, target_role_id as targetRoleId, created_at AS createdAt
		FROM notice
		WHERE target_role_id = 4
		ORDER BY notice_id DESC
		LIMIT #{beginRow}, #{size}
	</select>
	
	<!-- 공지사항 토탈카운트 -->
	 <select id="totalCount" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
        SELECT COUNT(*) 
        FROM notice
        where target_role_id = 4
    </select>
    
    <!-- 공지사항 상세페에지 -->
    <select id="noticeById" parameterType="int" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id as noticeId, title, content, created_at AS createdAt
		FROM notice 
		WHERE notice_id = #{noticeId}
	</select>
	
	<!-- 수업 상세페이지(정보) -->
	<select id="subjectOne" parameterType="String" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT name AS name, description AS description
		FROM subject
		WHERE name = #{type}
	</select>
	
	<!-- 비밀번호 확인 -->
	<select id="checkPw" parameterType="String" resultType="String">
		SELECT user_id AS userId
		FROM user
		WHERE user_id = #{id} AND password = #{pw}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="String">
		UPDATE user 
		SET PASSWORD = #{updatePw} 
		WHERE user_id = #{id} AND PASSWORD = #{currentPw}
	</update>
	
	<!-- 부모 개인정보 수정페이지에 학생정보 가져오기 -->
	<select id="studentInfo" parameterType="String" resultType="map">
	    SELECT 
	        u.user_id AS parentId,
	        u.name AS parentName,
	        u.phone AS parentPhone,
	        u.address AS parentAddress,
	        u.birth AS parentBirth,
	        t1.user_id AS studentId,
	        t1.name AS studentName,
	        t1.phone AS studentPhone,
	        t1.address AS studentAddress,
	        t1.birth AS studentBirth,
	        t1.email AS studentEmail
	    FROM user u
	    INNER JOIN student_parent sp ON u.user_id = sp.parent_id
	    INNER JOIN user t1 ON sp.student_id = t1.user_id
	    WHERE u.user_id = #{userId}
	</select>

</mapper>