<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.ParentMapper">
	<!-- 공지사항 리스트 -->
	<select id="notice" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id as noticeId, title, content, target_role_id as targetRoleId, created_at AS createdAt
		FROM notice
		WHERE target_role_id = 4
		ORDER BY notice_id DESC
		LIMIT #{beginRow}, #{size}
	</select>

	<!-- 공지사항 토탈카운트 -->
	 <select id="totalCount" parameterType="com.example.afterSchoolLms.dto.Page" resultType="int">
        SELECT COUNT(*) 
        FROM notice
        where target_role_id = 4
    </select>
    
    <!-- 공지사항 상세페에지 -->
    <select id="noticeById" parameterType="int" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id as noticeId, title, content, created_at AS createdAt
		FROM notice 
		WHERE notice_id = #{noticeId}
	</select>
	
	<!-- 수업 상세페이지(정보) -->
	<select id="subjectOne" parameterType="String" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT name AS name, description AS description
		FROM subject
		WHERE name = #{type}
	</select>
	
	<!-- 비밀번호 확인 -->
	<select id="checkPw" parameterType="String" resultType="String">
		SELECT user_id AS userId
		FROM user
		WHERE user_id = #{id} AND password = #{pw}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="String">
		UPDATE user 
		SET PASSWORD = #{updatePw} 
		WHERE user_id = #{id} AND PASSWORD = #{currentPw}
	</update>
	
	<!-- 부모 개인정보 수정페이지에 학생정보 가져오기 -->
	<select id="studentInfo" parameterType="String" resultType="map">
	    SELECT 
	        u.user_id AS parentId,
	        u.name AS parentName,
	        u.phone AS parentPhone,
	        u.address AS parentAddress,
	        u.birth AS parentBirth,
	        t1.user_id AS studentId,
	        t1.name AS studentName,
	        t1.phone AS studentPhone,
	        t1.address AS studentAddress,
	        t1.birth AS studentBirth,
	        t1.email AS studentEmail
	    FROM user u
	    INNER JOIN student_parent sp ON u.user_id = sp.parent_id
	    INNER JOIN user t1 ON sp.student_id = t1.user_id
	    WHERE u.user_id = #{userId}
	</select>
	
	<!-- 자녀 탑승 차량 조회 -->
	<select id="vehicleInfo" parameterType="String" resultType="map">
		SELECT DISTINCT
			v.vehicle_no AS vehicleNo,
			u.name AS studentName,
			t1.name AS driverName,
			t1.phone,
			va.assignment_id,
			p.payment_id,
			vc.decided_at,
			DATE(vc.decided_at) = CURDATE() AS isCancelledToday,
			l.end_time AS endTime
		FROM vehicle_passenger vp
		INNER JOIN payment p ON vp.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON se.enrollment_id = p.enrollment_id
		INNER JOIN lecture l ON se.lecture_id = l.lecture_id
		INNER JOIN vehicle_assignment va ON vp.assignment_id = va.assignment_id
		INNER JOIN vehicle v ON va.vehicle_id = v.vehicle_id
		INNER JOIN user u ON se.student_id = u.user_id
		INNER JOIN student_parent sp ON u.user_id = sp.student_id
		INNER JOIN (
			SELECT va.assignment_id, va.driver_id, u.name, u.phone
			FROM vehicle_assignment va
			INNER JOIN user u ON va.driver_id = u.user_id
			) t1 ON t1.assignment_id = va.assignment_id
		LEFT JOIN vehicle_cancel vc 
			ON vc.payment_id = p.payment_id 
			AND vc.assignment_id = va.assignment_id 
			AND DATE(vc.decided_at) = CURDATE()
		WHERE sp.parent_id = #{userId}
  			AND se.status = 'PAID'
	</select>
	
	<!-- 자녀 수업 조회 -->
	<select id="subjectInfo" parameterType="String" resultType="map">
		SELECT DISTINCT
		   st.name AS studentName,
		   sb.name AS subjectName,
		   cl.name AS classroomName,
		   cl.location AS classroomLocation,
		   t.name AS teacherName,
		   lt.day_of_week AS dayOfWeeK,
		   lt.start_time AS startTime,
		   lt.end_time AS endTime,
		   lt.start_date AS startDate,
		   lt.end_date AS endDate
		FROM   (SELECT * FROM user WHERE user_id = #{userId}) pa
		INNER JOIN student_parent sp ON pa.user_id = sp.parent_id
		INNER JOIN user st ON sp.student_id = st.user_id
		INNER JOIN student_enrollment se ON se.student_id = st.user_id
		INNER JOIN payment p ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cl ON lt.classroom_id = cl.classroom_id
		INNER JOIN teacher_assignment ta ON ta.lecture_id = lt.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
		WHERE CURDATE() BETWEEN lt.start_date AND lt.end_date
	</select>
	
	<!-- 자녀 출결 조회 -->
	<select id="attendance" resultType="com.example.afterSchoolLms.dto.Attendance">
		SELECT
		   ad.attend_date AS attendDate,
		   ad.status
		FROM   (SELECT * FROM user WHERE user_id = #{userId}) pa
		INNER JOIN student_parent sp ON pa.user_id = sp.parent_id
		INNER JOIN user st ON sp.student_id = st.user_id
		INNER JOIN student_enrollment se ON se.student_id = st.user_id
		INNER JOIN payment p ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN attendance ad ON ad.payment_id = p.payment_id
		ORDER BY attendDate DESC
	</select>

	<!-- 수강가능 강좌 목록 -->
	<select id="lectureList" resultType="map">
		SELECT 
			l.lecture_id AS lectureId,
			s.name AS subjectName,
			u.name AS teacherName,
			l.start_time AS startTime,
			l.end_time AS endTime,
			l.day_of_week AS dayOfWeek,
			l.start_date AS startDate,
			l.end_date AS endDate,
			c.location,
			c.name AS classroomName,
			l.amount,
			l.recruited,
			IFNULL(e.current_count, 0) AS currentCount,
			CONCAT(IFNULL(e.current_count, 0), '/', l.recruited) AS status
		FROM lecture l
		INNER JOIN subject s ON l.subject_id = s.subject_id
		INNER JOIN classroom c ON l.classroom_id = c.classroom_id
		LEFT JOIN teacher_assignment ta ON l.lecture_id = ta.lecture_id
		LEFT JOIN user u ON ta.teacher_id = u.user_id
		LEFT JOIN (
			SELECT lecture_id, COUNT(*) AS current_count
			FROM student_enrollment
			WHERE status IN ('PENDING', 'PAID')
			GROUP BY lecture_id
			) e ON l.lecture_id = e.lecture_id
		WHERE CURDATE() &lt;= DATE_SUB(l.start_date, INTERVAL 3 DAY)
	</select>
		
	<!-- 1) payment 삽입 -->
	<insert id="insertPayment" parameterType="map">
		INSERT INTO payment (enrollment_id, amount, paid_at)
		SELECT enrollment_id, #{amount}, NOW()
		FROM student_enrollment
		WHERE lecture_id = #{lectureId}
		  AND student_id = #{studentId}
		  AND status = 'PAID'
	</insert>
	
	<!-- 2) student_enrollment 상태 PENDING → PAID 변경 -->
	<update id="updateEnrollmentStatus">
		UPDATE student_enrollment
		SET status = 'PAID'
		WHERE lecture_id = #{lectureId}
			AND student_id = #{studentId}
			AND status = 'PENDING'
	</update>
	
	<!-- 전체 사진첩 목록 조회 (검색+페이징) -->
	<select id="selectAlbumList" resultType="map" parameterType="map">
	  SELECT album_id, lecture_id, title, description, created_at
	  FROM album
	  <if test="keyword != null and keyword != ''">
	    WHERE title LIKE CONCAT('%', #{keyword}, '%')
	  </if>
	  ORDER BY created_at DESC
	  LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	<!-- 전체 사진첩 개수 조회 (검색 포함) -->
	<select id="countAlbumList" resultType="int" parameterType="map">
	  SELECT COUNT(*)
	  FROM album
	  <if test="keyword != null and keyword != ''">
	    WHERE title LIKE CONCAT('%', #{keyword}, '%')
	  </if>
	</select>
	
	<!-- 수강신청(결제x) -->
	<insert id="lectureApply">
		INSERT INTO student_enrollment(student_id, lecture_id, STATUS, enrolled_at)
		VALUES(#{studentId}, #{lectureId}, 'PENDING', NOW())
	</insert>
	<!-- 수강신청시 신청내역이 있는지 검사(1계정 1과목 수강) -->
	<select id="isEnrolled" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM student_enrollment
		WHERE student_id = #{studentId} 
		AND lecture_id = #{lectureId}
		AND status != 'CANCEL'
	</select>
	
	<!-- 취소한 강좌가 있다가 -->
	<update id="modifyCancelToPending">
		UPDATE student_enrollment
		SET status = 'PENDING'
		WHERE student_id = #{studentId}
			AND lecture_id = #{lectureId}
			AND status = 'CANCEL'
	</update>
	
	<!-- student_id로 이미 신청한 강의 중 개강일~종강일이 겹치는지 확인 -->
	<select id="hasOverlappingLecture" resultType="int">
		SELECT COUNT(*)
		FROM student_enrollment se
		JOIN lecture l ON se.lecture_id = l.lecture_id
		WHERE se.student_id = #{studentId}
			AND se.status != 'CANCEL'
			AND (l.start_date &lt;= #{newEndDate} AND l.end_date &gt;= #{newStartDate})
	</select>
	
	<!-- 강좌의 개강일 종강일 조회 -->
	<select id="getLectureDates" resultType="map">
		SELECT 
			DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate, 
			DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate
		FROM lecture
		WHERE lecture_id = #{lectureId}
	</select>
	
	
	
	<!-- qna목록 -->
	<select id="qnaList" resultType="com.example.afterSchoolLms.dto.Qna">
		SELECT qna_id AS qnaId, parent_id AS parentId, question, answer, created_at AS createdAt
		FROM qna
		ORDER BY created_at DESC
	</select>
	
	<!-- qna 등록 -->
	<insert id="insertQna">
		INSERT INTO qna(parent_id, question) 
		VALUES(#{userId}, #{question})
	</insert>
	
	<!-- qna 수정 -->
	<update id="modifyQna">
		update qna set question = #{question}
		where qna_id = #{qnaId}
	</update>
	
	<!-- qna 삭제 -->
	<delete id="qnaDelete">
		DELETE 
		FROM qna 
		WHERE qna_id = #{qnaId}
	</delete>
	
	<!-- FK키 payment_id, assignment_id 조회 -->
	<select id="findPaymentAndAssignmentByParentId" parameterType="String" resultType="map">
	    SELECT p.payment_id AS paymentId, va.assignment_id AS assignmentId
	    FROM user parent
	    JOIN student_parent sp ON parent.user_id = sp.parent_id
	    JOIN user student ON sp.student_id = student.user_id
	    JOIN student_enrollment se ON student.user_id = se.student_id
	    JOIN payment p ON se.enrollment_id = p.enrollment_id
	    JOIN vehicle_passenger vp ON p.payment_id = vp.payment_id
	    JOIN vehicle_assignment va ON vp.assignment_id = va.assignment_id
	    WHERE parent.user_id = #{parentId}
	    LIMIT 1
	</select>
	
	<!-- 취소 신청 INSERT -->
	<insert id="insertVehicleCancel" parameterType="map">
	    INSERT INTO vehicle_cancel (payment_id, assignment_id, cancel_reason)
	    VALUES (#{paymentId}, #{assignmentId}, #{reason})
	</insert>
	
	<!-- 수강신청 내역 -->
	<select id="lectureLegistrationList" parameterType="com.example.afterSchoolLms.dto.Subject">
		SELECT u.name AS studentName,
			sb.name AS subjectName,
			lt.start_date AS startDate,
			lt.end_date AS endDate,
			lt.start_time AS startTime,
			lt.end_time AS endTime,
			lt.day_of_week AS dayOfWeek,
			se.enrolled_at AS enrollmentAt,
			se.student_id AS StudentId,
			lt.lecture_id AS lectureId,
			se.status,
			lt.amount
		FROM (SELECT * FROM user WHERE user_id = #{userId}) p
		INNER JOIN student_parent sp ON p.user_id = sp.parent_id
		INNER JOIN user u ON sp.student_id = u.user_id
		INNER JOIN student_enrollment se ON sp.student_id = se.student_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		WHERE se.status = 'PAID'
	</select>
	
	<!-- 수강신청 후 결제페이지에 리스트 -->
	<select id="getLecturePayOrCancel" parameterType="string" resultType="map">
	    SELECT 
	        l.lecture_id AS lectureId,
	        s.name AS subjectName,
	        u.name AS teacherName,
	        l.start_time AS startTime,
	        l.end_time AS endTime,
	        l.day_of_week AS dayOfWeek,
	        l.start_date AS startDate,
	        l.end_date AS endDate,
	        c.location,
	        l.amount,
	        se.student_id AS studentId,
	        c.name AS classroomName,
	        stu.name AS studentName,
	        se.enrolled_at AS enrollmentAt,
	        se.status AS status
	    FROM student_enrollment se
	    INNER JOIN lecture l ON se.lecture_id = l.lecture_id
	    INNER JOIN subject s ON l.subject_id = s.subject_id
	    INNER JOIN classroom c ON l.classroom_id = c.classroom_id
	    LEFT JOIN teacher_assignment ta ON l.lecture_id = ta.lecture_id
	    LEFT JOIN user u ON ta.teacher_id = u.user_id
	    INNER JOIN student_parent sp ON se.student_id = sp.student_id
	    INNER JOIN user stu ON se.student_id = stu.user_id
	    WHERE se.status IN ('PENDING', 'CANCEL', 'REFUND', 'PAID', 'REFUNDWAIT')
	    	AND sp.parent_id = #{userId}
	</select>
	
	<!-- 수강신청 결제 전 취소 -->
	<update  id="updateToCancel" parameterType="map">
		UPDATE student_enrollment
        SET status = 'CANCEL'
        WHERE lecture_id = #{lectureId}
        	AND student_id = #{studentId}
        	AND status = #{status}
	</update >
	
	<!-- 수강신청 환불 -->
	<update id="refundLeture" parameterType="map">
		UPDATE student_enrollment se
		JOIN lecture l ON se.lecture_id = l.lecture_id
        SET se.status = 'REFUNDWAIT'
        WHERE se.lecture_id = #{lectureId}
        	AND se.student_id = #{studentId}
        	AND se.status = #{status}
        	AND l.start_date >= DATE_ADD(CURDATE(), INTERVAL 3 DAY)
	</update>
</mapper>