<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.StudentMapper">
	
	<select id="selectInformation" parameterType="String" resultType="com.example.afterSchoolLms.dto.User">
		SELECT
			user_id AS userId,
			NAME AS userName,
			birth,
			email,
			address,
			phone
		FROM user
		WHERE user_id=#{id} AND PASSWORD=#{password}
	</select>
	
	<select id="checkPw" parameterType="String" resultType="String">
		SELECT user_id AS userId
		FROM user
		WHERE user_id = #{id} AND password = #{pw}
	</select>

	<select id="selectLecture" parameterType="String" resultType="map">
		SELECT
		   sb.name AS subjectName,
		   DATE_FORMAT(start_time, '%H시 %i분') AS startTime,
		   DATE_FORMAT(end_time, '%H시 %i분') AS endTime,
		   lt.day_of_week AS dayOfWeek,
		   lt.start_date AS startDate,
		   lt.end_date AS endDate,
		   cr.name AS classroomName,
		   cr.location AS classroomLocation,
		   t.name AS teacherName
		FROM (SELECT * FROM user WHERE user_id = #{id}) u
		INNER JOIN student_enrollment se ON se.student_id = u.user_id
		INNER JOIN payment p ON se.enrollment_id = p.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
		WHERE CURDATE() &lt;= lt.end_date
		ORDER BY lt.start_date ASC
	</select>
	
	<select id="selectDisptach" parameterType="String" resultType="map">
		SELECT
			sb.name AS subjectName,
			t1.name AS teacherName,
			DATE_FORMAT(start_time, '%H시 %i분') AS startTime,
		    DATE_FORMAT(end_time, '%H시 %i분') AS endTime,
		    lt.day_of_week AS dayOfWeek,
		    lt.start_date AS startDate,
   			lt.end_date AS endDate,
			d.name AS driverName,
			d.phone AS driverPhone,
	        va.driver_id AS driverId,
	        v.vehicle_no AS vehicleNo,
	        va.location
		FROM (SELECT * FROM user WHERE user_id = #{id}) u
		INNER JOIN student_enrollment se ON u.user_id = se.student_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN (SELECT u.name, ta.lecture_id
						FROM teacher_assignment ta
						INNER JOIN user u ON ta.teacher_id = u.user_id) t1
				ON lt.lecture_id = t1.lecture_id
		INNER JOIN payment p ON se.enrollment_id = p.enrollment_id
		INNER JOIN vehicle_assignment va ON se.lecture_id = va.lecture_id
		INNER JOIN vehicle v ON v.vehicle_id = va.vehicle_id
		LEFT JOIN user d ON d.user_id = va.driver_id
		WHERE CURDATE() &lt;= lt.end_date
	</select>
	
	<select id="totalCount">
		SELECT COUNT(*)
		FROM notice
		WHERE target_role_id=2
	</select>
	
	<select id="selectNotice" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id AS noticeId,
			title,
			content,
			DATE_FORMAT(created_at, '%Y-%m-%d %H시 %i분') AS createdAt
		FROM notice
		WHERE target_role_id = 2
		ORDER BY notice_id desc
		LIMIT #{beginRow}, #{size}
	</select>
	
	<select id="selectNoticeOne" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id AS noticeId,
			title,
			content,
			DATE_FORMAT(created_at, '%Y-%m-%d %H시 %i분') AS createdAt
		FROM notice
		WHERE notice_id = #{noticeId}
	</select>
	
	<select id="selectSubject" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			subject_id AS subjectId,
			NAME AS subjectName
		FROM subject
	</select>
	
	<select id="selectSubjectOne" parameterType="String" resultType="com.example.afterSchoolLms.dto.Subject">
		SELECT 
			name AS subjectName,
			description
		FROM subject
		WHERE name = #{subjectName}
	</select>
	
	<select id="selectSubjectOneRating" parameterType="String" resultType="Double">
		SELECT ROUND(AVG(sf.rating_lecture), 1) AS avgRating
		FROM satisfaction sf
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		WHERE sb.name = #{subjectName}
	</select>
	
	<select id="selectSubjectOneReview" parameterType="String" resultType="map">
		SELECT sf.rating_lecture AS ratingLecture,
		       r.content AS content
		FROM satisfaction sf
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN review r ON sf.satisfaction_id = r.satisfaction_id
		WHERE sb.name = #{subjectName}
		ORDER BY r.review_id DESC
		LIMIT 0, 3
	</select>
	
	<select id="selectLectureDone" parameterType="String" resultType="map">
		SELECT
		   p.payment_id AS paymentId,
		   s.satisfaction_id AS satisfactionId,
		   r.review_id AS reviewId,
		   sb.name AS subjectName,
		   DATE_FORMAT(start_time, '%H시 %i분') AS startTime,
		   DATE_FORMAT(end_time, '%H시 %i분') AS endTime,
		   lt.day_of_week AS dayOfWeek,
		   lt.start_date AS startDate,
		   lt.end_date AS endDate,
		   cr.name AS classroomName,
		   cr.location AS classroomLocation,
		   t.name AS teacherName
		FROM (SELECT * FROM user WHERE user_id = #{id}) u
		INNER JOIN student_enrollment se ON se.student_id = u.user_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
		LEFT JOIN payment p ON p.enrollment_id = se.enrollment_id
		LEFT JOIN satisfaction s ON s.payment_id = p.payment_id
		LEFT JOIN review r ON r.satisfaction_id = s.satisfaction_id
		WHERE CURDATE() &gt;= lt.end_date
		ORDER BY lt.end_date ASC
	</select>
	
	<select id="selectHistory" parameterType="String" resultType="map">
		SELECT 
			p.payment_id AS paymentId, 
			s.rating_lecture AS ratingLecture, 
			s.rating_teacher AS ratingTeacher, 
			r.content, 
			sb.name AS subjectName, 
			u.name AS teacherName
		FROM satisfaction s
		LEFT JOIN review r ON s.satisfaction_id = r.satisfaction_id
		INNER JOIN payment p ON s.payment_id = p.payment_id 
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture l ON se.lecture_id = l.lecture_id
		INNER JOIN subject sb ON l.subject_id = sb.subject_id
		INNER JOIN teacher_assignment ta ON l.lecture_id = ta.lecture_id
		INNER JOIN user u ON ta.teacher_id = u.user_id
		WHERE p.payment_id = #{paymentId}
	</select>
	
	<select id="selectAttendance" parameterType="String" resultType="map">
		SELECT
		   ad.attend_date AS attendDate,
		   ad.status AS status,
		   sb.name AS subjectName,
   		   t.name AS teacherName
		FROM (SELECT * FROM user WHERE user_id = #{studentId}) u
		INNER JOIN student_enrollment se ON se.student_id = u.user_id
		INNER JOIN payment p ON se.enrollment_id = p.enrollment_id
		INNER JOIN attendance ad ON p.payment_id = ad.payment_id
		INNER JOIN lecture l ON se.lecture_id = l.lecture_id
		INNER JOIN subject sb ON l.subject_id = sb.subject_id
		INNER JOIN teacher_assignment ta ON l.lecture_id = ta.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
	</select>
	
	<select id="selectTeacher" resultType="com.example.afterSchoolLms.dto.User">
		SELECT name AS userName, user_id AS userId
		FROM user
		WHERE role_id = 3
	</select>
	
	<select id="selectTeacherOne" parameterType="String" resultType="map">
		SELECT 
			u.name AS teacherName,
			th.last_education AS lastEducation,
			th.personal_history AS personalHistory
		FROM user u
		INNER JOIN teacher_history th ON u.user_id = th.teacher_id
		WHERE u.user_id = #{teacherId}
	</select>
	
	<select id="selectTeacherOneRating" parameterType="String" resultType="Double">
		SELECT ROUND(AVG(sf.rating_teacher), 1) AS ratingTeacher
		FROM satisfaction sf 
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
		WHERE ta.teacher_id = #{teacherId}
	</select>
	
	<select id="selectTeacherOneReview" parameterType="String" resultType="map">
		SELECT 
			sf.rating_teacher AS ratingTeacher,
			r.content AS content
		FROM satisfaction sf
		INNER JOIN payment p ON sf.payment_id = p.payment_id
		INNER JOIN student_enrollment se ON p.enrollment_id = se.enrollment_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN review r ON sf.satisfaction_id = r.satisfaction_id
		WHERE ta.teacher_id = #{teacherId}
		ORDER BY r.review_id DESC
		LIMIT 0, 3
	</select>
	
	<select id="selectAlbumTotalCount" parameterType="String">
		SELECT COUNT(*)
	  	FROM album
	  	<if test="searchWord != null and searchWord != ''">
	    	WHERE title LIKE CONCAT('%', #{searchWord}, '%')
	  	</if>
	</select>
	
	<select id="selectAlbumtList" parameterType="map" resultType="map">
		SELECT
			ab.album_id AS albumId,
			ab.lecture_id AS lectureId,
			sb.name AS subjectName,
			ab.title AS title,
			ab.description,
			DATE_FORMAT(ab.created_at, '%Y-%m-%d') AS createdAt
		FROM album ab
		LEFT OUTER JOIN lecture lt ON lt.lecture_id = ab.lecture_id
		LEFT OUTER JOIN subject sb ON sb.subject_id = lt.subject_id
		WHERE ab.title LIKE CONCAT('%', #{searchWord}, '%')
		LIMIT #{beginRow}, #{size}
	</select>
	
	<select id="selectAlbumOne" resultType="map">
		SELECT
			ab.album_id AS albumId,
			ab.lecture_id AS lectureId,
			sb.name AS subjectName,
			ab.title AS title,
			ab.description,
			DATE_FORMAT(ab.created_at, '%Y-%m-%d') AS createdAt
		FROM (SELECT * FROM album WHERE album_id = #{albumId}) ab
		INNER JOIN lecture lt ON lt.lecture_id = ab.lecture_id
		INNER JOIN subject sb ON sb.subject_id = lt.subject_id
	</select>
	
	<select id="selectAlbumPhotoList" resultType="com.example.afterSchoolLms.dto.AlbumPhoto">
		SELECT
			photo_id AS photoId,
			album_id AS albumId,
			file_path AS filePath
		FROM album_photo
		WHERE album_id = #{albumId};
	</select>
	
	<insert id="insertEvaluation" parameterType="String">
		INSERT INTO
			satisfaction(payment_id, rating_lecture, rating_teacher)
		VALUES (#{paymentId}, #{lectureRating}, #{teacherRating})
	</insert>
	
	<insert id="insertReview" parameterType="String">
		INSERT INTO
			review(satisfaction_id, content)
		VALUES (#{satisfactionId}, #{content})
	</insert>
	
	<update id="updatePw" parameterType="String">
		UPDATE user 
		SET PASSWORD = #{updatePw} 
		WHERE user_id = #{id} AND PASSWORD = #{currentPw}
	</update>
	
</mapper>