<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.afterSchoolLms.mapper.StudentMapper">
	
	<select id="checkPw" parameterType="String" resultType="String">
		SELECT user_id AS userId
		FROM user
		WHERE user_id = #{id} AND password = #{pw}
	</select>

	<select id="selectLecture" parameterType="String" resultType="map">
		SELECT
		   sb.name AS subjectName,
		   lt.start_time AS startTime,
		   lt.end_time AS endTime,
		   lt.day_of_week AS dayOfWeek,
		   lt.start_date AS startDate,
		   lt.end_date AS endDate,
		   cr.name AS classroomName,
		   cr.location AS classroomLocation,
		   t.name AS teacherName
		FROM (SELECT * FROM user WHERE user_id = #{id}) u
		INNER JOIN student_enrollment se ON se.student_id = u.user_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN subject sb ON lt.subject_id = sb.subject_id
		INNER JOIN classroom cr ON lt.classroom_id = cr.classroom_id
		INNER JOIN teacher_assignment ta ON lt.lecture_id = ta.lecture_id
		INNER JOIN user t ON ta.teacher_id = t.user_id
		WHERE CURDATE() BETWEEN lt.start_date AND lt.end_date
	</select>
	
	<select id="selectDisptach" parameterType="String" resultType="map">
		SELECT 
			concat(va.vehicle_id,'호차') AS vehicleId,
			d.name AS driverName,
			d.phone AS driverPhone,
	        va.driver_id AS driverId,
	        v.vehicle_no AS vehicleNo,
	        va.location
		FROM (SELECT * FROM user WHERE user_id = 'stu002') u
		INNER JOIN student_enrollment se ON u.user_id = se.student_id
		INNER JOIN lecture lt ON se.lecture_id = lt.lecture_id
		INNER JOIN payment p ON se.enrollment_id = p.enrollment_id
		INNER JOIN vehicle_assignment va ON se.lecture_id = va.lecture_id
		INNER JOIN vehicle v ON v.vehicle_id = va.vehicle_id
		INNER JOIN user d ON d.user_id = va.driver_id
		WHERE CURDATE() BETWEEN lt.start_date AND lt.end_date
	</select>
	
	<select id="totalCount">
		SELECT COUNT(*)
		FROM notice
		WHERE target_role_id=2
	</select>
	
	<select id="selectNotice" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id AS noticeId,
			title,
			content,
			created_at AS createdAt
		FROM notice
		WHERE target_role_id = 2
		ORDER BY notice_id desc
		LIMIT #{beginRow}, #{size}
	</select>
	
	<select id="selectNoticeOne" resultType="com.example.afterSchoolLms.dto.Notice">
		SELECT notice_id AS noticeId,
			title,
			content,
			created_at AS createdAt
		FROM notice
		WHERE notice_id = #{noticeId}
	</select>
	
	<update id="updatePw" parameterType="String">
		UPDATE user 
		SET PASSWORD = #{updatePw} 
		WHERE user_id = #{id} AND PASSWORD = #{currentPw}
	</update>
	
</mapper>